/* NAVIGATION BAR STYLING */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  background-color: #4056A1;
  font-family: bungee;
  color: #FFFFFF;
  height: 120px;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
 }

 .tweeter {
  margin-bottom: .8em;
 }

 .newTweet {
   font-family: source sans pro;
   margin-bottom: 1em;
 }
 .newTweet .fa-solid {
   display: block;
   margin-left: 87px;
 }

 @media only screen and (min-width: 320px) and (max-width: 420px) {
  nav {
    height: 60px;
    width: 100vw;
  }

  nav .newTweet {
    display: none;
  }
  nav .tweeter {
    size-adjust: 150%;
    margin: auto;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Write Tablet only CSS here */
}