/* NEW TWEET SECTION */

.new-tweet {
  max-width: 90%;
  border: 1px #545149;

  margin-bottom: 1.5em;
  margin: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

#submit-button {
  font-family: bungee;
  background-color: #5f078e;
  color: #FFFFFF;
  border-radius: 1px;
  border: 1px #545149;
}

.counter {
  font-family: bungee;
  color: #545149(56, 52, 52)
}

#tweet-text {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 4px solid #545149;
  border-radius: 2px;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  overflow: auto;
  z-index: 3;
}

#label {
  display: flex;
  align-items: flex-start;
  font-size: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tweet-container {
  margin-bottom: 40px;
  background-color: #f4f1ec;
  height: 100%;
  border: 4px solid #545149;
  border-radius: 2px;
}

.user-text {
  word-wrap: break-word;
  /* overflow: auto; */
}

.tweet-footer {
  border-top: 3px solid #545149;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.tweet-text {
  margin-left: 0.7em;
  margin-right: 0.7em;
  text-align: left;
  font-size: 90%;
}

.tweet-title {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-content: center;
}

.title {
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  margin-left: 0.7em;
}

.name {
  padding: 10px;
}

.handle {
  color: rgba(134, 134, 219, 0.77);
  display: flex;
  align-self: center;
  margin-right: 0.7em;
  margin-right: 0.7em;
  text-align: right; 
}


.icon-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.icon-list li {
  margin-left: 10px;
}

.icon-list li :hover {
  color: rgb(255, 174, 0);
}

.tweets .tweet-container:hover {
  box-shadow: 8px 8px rgba(134, 134, 219, 0.77);
}

/* desktop */

@media only screen and (min-width: 1024px) {
  body main .container {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100px;
    
  }

  .new-tweet {
    margin-top: 180px;
    width: 66.7%;
    float: right;
  }

  #label {
    font-size: 3vh;
  }

  #submit-button {
    width: 9vw;
    height: 2.5vw;
    font-size: 2vw;
  }

  .counter {
    font-size: 2vw;
  }
}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #label {
    font-size: 3.5vh;
  }

  #submit-button {
    width: 16vw;
    height: 6vw;
    font-size: 4vw;
  }
}

/* mobile */

@media only screen and (min-width: 280px) and (max-width: 767px) {

  .tweet-title {
    height: 8vh;
  }

  #label {
    font-size: 3vh;
  }
  .new-tweet {
    max-width: 95%;
  }

  .handle {
    font-size: 17px;
    margin-bottom: 1em;
    margin-right: 25px;
    height: 2vh;
  }

  .title {
    margin-bottom: 1em;
    width: 10px;
    
  }
  img{
    height: 30px;
    margin-right: 15px;
  }
  .name {
    font-size: 17px;
    margin-right: 15px;
  }

  .tweet-text {
    font-size: 20px;
  }
}


